* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#Windows_XP {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.area_de_trabalho {
  display: flex;
  flex-flow: column;
  width: 100vw;
  background: url('https://images2.alphacoders.com/941/941898.jpg');
  background-size: cover;
  overflow: hidden;
}

.barra_de_tarefas {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: linear-gradient(
    to bottom,
    #245edb 0%,
    #0c8dea 9%,
    #245edb 18%,
    #245edb 92%,
    #333 100%
  );
}

#iniciar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border: none;
  background: linear-gradient(
    to bottom,
    #3d973d 0%,
    #6faf72 9%,
    #3d973d 18%,
    #3d973d 92%,
    #666 100%
  );
  color: white;
  text-shadow: 2px 2px 8px #003d00;
  font-size: 1.5rem;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

#iniciar:hover {
  background: linear-gradient(
    to bottom,
    #3d973d 0%,
    #6faf72 9%,
    #3d973d 18%,
    #37d437 92%,
    #666 100%
  );
}

.area_de_notificacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  background: linear-gradient(
    to bottom,
    #0fadf4 0%,
    #0fadf4 9%,
    #108ae5 18%,
    #108ae5 92%,
    #666 100%
  );
}

.icon {
  width: 25px;
  height: 25px;
}

#Volume {
  margin-left: 10px;
  background: url(https://img.ibxk.com.br/2014/3/programas/7868525214145846.png);
  background-size: cover;
}

#Mídia {
  margin-left: 10px;
  background: url(https://icons.iconarchive.com/icons/hopstarter/software/256/Windows-Media-Player-icon.png);
  background-size: cover;
}

#Segurança {
  margin-left: 10px;
  background: url(https://1.bp.blogspot.com/_8H6ayPA2iRw/R4Sp5ZVhUnI/AAAAAAAAAJk/Sv91jzKzPZs/s320/cat_icon_security_256.png);
  background-size: cover;
}

#Relógio {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.desktop_icons {
  width: 120px;
  height: 140px;
  padding: 15px;
  text-align: center;
}

.desktop_icons img {
  max-width: 100%;
}

.desktop_icons span {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  text-shadow: 2px 2px 8px black;
  cursor: context-menu;
}

.desktop_icons.selected span {
  background: #004e98;
}

#menu_iniciar {
  width: 500px;
  height: 600px;
  position: fixed;
  bottom: 50px;
  background: white;
  z-index: 999;
  border-top-right-radius: 5px;
}

.topo_iniciar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    #245edb 0%,
    #0c8dea 9%,
    #245edb 18%,
    #245edb 92%,
    #245edb 100%
  );
  border-top-right-radius: 5px;
}

.avatar {
  width: 70px;
  height: 70px;
  background-image: url('https://i.redd.it/tb3mnb7dzcd51.jpg');
  background-size: cover;
  background-color: white; /* Combine as propriedades de fundo aqui */
  border-radius: 10px;
  margin-left: 15px;
}

.usuario {
  color: white;
  margin-left: 20px;
  text-shadow: 2px 2px 8px black;
}

.miolo {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 0;
  padding-top: 0;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer_iniciar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    #245edb 0%,
    #0c8dea 9%,
    #245edb 18%,
    #245edb 92%,
    #245edb 100%
  );
}

.btn_footer {
  display: flex;
  align-items: center;
}

.btn_footer a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 25px;
}

.item_iniciar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 15px;
  cursor: pointer;
}

.item_iniciar:hover {
  background: #245edb;
}

.item_iniciar:hover span>strong {
  color: white;
}

.item_iniciar span {
  margin-left: 10px;
  color: #666;
}

.item_iniciar span>strong {
  color: black;
}
